body{
  font:sans-serif;
  font-size: 10px;
}
.navbar-fixed-top {

 background-color: black;
  color: white;
  text-align: center;

}

#body
{

  margin-top: 100px;

}


#chart
{

  margin-top: 100px;

}

text
 {
  font-size: 14px;
  font-family: sans-serif;

}

.d3-tip
{


  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;

}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after
 {

  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);

  content: "\25BC";
  position: absolute;
  text-align: center;

}


/* Style northward tooltips differently */

.d3-tip.n:after
{

 margin: -1px 0 0 0;
  top: 100%;
  left: 0;

}


.bar
 {

  fill: steelblue;

}


.bar:hover
 {

  fill: brown;

}


.axis
{
  font: 10px sans-serif;

}


.axis path,
.axis line
{
  fill: none;
  stroke: #000;
  shape-rendering:crispEdges;

}
